# Ignorar directorios de construcción de Maven, Gradle o IDEs
target/
build/

# Ignorar carpetas generadas por IDEs como IntelliJ, Eclipse y VS Code
.idea/
*.iml
.vscode/

# Ignorar archivos de configuración de NetBeans y Gradle si no usas estos entornos
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos de sistema de MacOS
.DS_Store

# Archivos generados por el sistema de Windows
Thumbs.db
